{% extends "base/index.html" %}

{% block css %}
<link rel="stylesheet" href="../../static/movies/css/style.css">
{% endblock css %}

{% block title %}
<title>Sonitus | Movies</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Movies</h1>
    <section class="se-1">
        <!-- <video controls width="400" height="200">
            <source>
            Su navegador no puede reproducir este formato de video
        </video> -->
    </section>
    <section class="se-2">
        <!-- <video controls width="400" height="200">
            <source>
            Su navegador no puede reproducir este formato de video
        </video> -->
    </section>
    <section class="se-3">
        <!-- <video controls width="400" height="200">
            <source>
            Su navegador no puede reproducir este formato de video
        </video> -->
    </section>
</div>
{% endblock content %}