.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 50%;
}

.container h1{
    text-transform: capitalize;
}

