*{
    margin: 0;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.px-3.py-2.text-bg-dark{
    width: 100%;
}

footer{
    display: flex;
    width: 100%;
}

.nav-link.log{
    color: blueviolet;
}

.nav-link.out{
    color: red;
}

.nav-link.register{
    color: goldenrod;
}

.nav-link.profile{
    color: greenyellow;
}

.text-end a{
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
}

@media only screen and (max-height: 600px){
    .main{
        height: 150vh;
    }
}

@media only screen and (max-width: 500px){
    .justify-content-between{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}